body{
    margin: 0px;
    padding: 20px 100px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

img{
    width: 100%;
    height: auto;
    margin: 0 auto;

}

p{
    text-align: justify;
    font-size: 20px;
}

.btn{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

#color-switcher{
    text-align: right;
    
}



#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

